<mat-card>
  <button mat-raised-button color="primary" (click)="updateFirmware()">
    Update Firmware
  </button>
</mat-card>

<mat-card>
  <table mat-table [dataSource]="firmware_duts">
    <ng-container matColumnDef="select">
      <th width="10%" mat-header-cell *matHeaderCellDef>
        <mat-checkbox> </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        > </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th width="20%" mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.getIp() }}</td>
    </ng-container>

    <ng-container matColumnDef="current_firmware">
      <th width="35%" mat-header-cell *matHeaderCellDef>Current Firmware</th>
      <td mat-cell *matCellDef="let element">
        {{ element.getCurrentFirmware() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="updater_firmware">
      <th width="35%" mat-header-cell *matHeaderCellDef>Updater Firmware</th>
      <td mat-cell *matCellDef="let element">
        {{ element.getUpdateFirmware() }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="firmwareDisplayedColumns; sticky: true"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: firmwareDisplayedColumns"></tr>
  </table>
</mat-card>
