@import '~sass/text';

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #673ab7;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  z-index: 1;

  > h1 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-weight: normal;
  }
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 80px auto;
  position: relative;
}

p {
  margin: 0;
  margin-bottom: 24px;
  @include subtext;

  &.error {
    color: red;
  }
}

a {
  position: absolute;
  top: -14px;
  right: 0;
}
